@import "../colors.css";

#main .gallery {
	text-align: center;

	ul {
		margin: auto;
		padding: 0;
	}

	li {
		list-style: none;
		display: inline-block;
		margin: 4px;
	}

	li > a {
		position: relative;
		overflow: hidden;
		display: inline-table;

		& > p {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			margin: 0;
			background-color: rgba(0,0,0,0.75);
			color: $COLOR_ASIDE_TEXT;
			transform: translateY(+100%);
			transition: transform 0.4s;
		}

		&:hover > p {
			transform: translateY(0);
		}


	}
}
